.login__parent{
    width: 100%;
    height: 100vh;
    background: url('https://www.simplilearn.com/ice9/free_resources_article_thumb/ethicalhacking.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.login{
    width: 300px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
   backdrop-filter: blur(10px);
}
.login__inp{
    width: 250px;
    height: 35px;
    color: #fff;
    font-size: 21px;
outline: none;
border-radius: 14px;
background: rgba(255, 255, 255, 0.411);
border: none;
margin:  10px 0;
}
.login__btn{
    width: 120px;
    height: 35px;
    color: #fff;
    border-radius: 16px;
    background: rgba(110, 106, 106, 0.438);
    border: none;

}
.login__btn:active{
   
    color: #000;
    border-radius: 16px;
    background:#fff;
    border: none;
    transition: all ease 0.2s;
}

